<header>
    <div class="container navbar">
        <div class="nav-left">
        <a href="index.html" class="nav-logo">
            <img src="assets/images/homepages/logo-monevia.png" alt="Monevia Wise logo" />
            <span class="nav-logo-text">MŌNEVIA</span>
        </a>
        </div>
        <nav class="nav-links">
        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="freebies.html">Free Printables</a>
        <a href="blog.html">Budget Tips</a>
        <a href="debt-calculator.html">Debt Calculator</a>
        <a href="about.html">About</a>
        </nav>
    </div>
</header>